{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block content %}
<div class="heading jumbotron">
  <h1>All Apiaries</h1>
  <div class="btn-group actions" role="group">
    <!-- <button type="button" class="btn btn-danger">Danger</button> -->
    <a href="/new_apiary" class="btn">Create</a>
  </div>
</div>
<ul class="list-group">
  {% for datum in data %}
  <li class="list-item bg-primary">
    <div class="media apiary">
      <div class="media-left">
        <img class="media-object" src="/static/hex.png" alt="...">
      </div>

      <div class="media-body">
        <h4 class="media-heading">{{ datum.name }}</h4>
        <a href="/list_hives/{{ datum.id }}">Hives</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/list_harvests/{{ datum.id }}">Harvests</a>
      </div>
      <div class="media-right">
        <a href="/delete_apiary/{{ datum.id}}"><button type="button" class="btn btn-danger">Delete</button></a>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}
