{% extends "base.html" %}
{% block title %}Apiary{% endblock %}
{% block content %}
<div class="heading jumbotron">
  <h1>{{ parent.name }}</h1>
  <div class="btn-group actions" role="group">
    <a href="/new_hive/{{ parent.id }}" class="btn">Create new Hive</a>
    <a href="/stats/{{ parent.id }}" class="btn" style="float:left">Statistics</a>
  </div>
</div>
<ul class="list-group">
  {% for datum in data %}
  <li class="list-item bg-primary">
    <div class="media apiary">
      <div class="media-left">
        <img class="media-object" src="/static/glass.png" alt="...">
      </div>
      <div class="media-body">
        <h4 class="media-heading">Hive {{ datum.number }}</h4>
        <a class="pull-left" href="/list_inspections/{{ datum.number }}">Inspections</a>
      </div>
      <div class="media-right">
        <a href="/delete_hive/{{ parent.id }}/{{ datum.id }}"><button type="button" class="btn btn-danger">Delete</button></a>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}
